.container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px; /* Điều chỉnh tùy thuộc vào độ rộng mong muốn */
    padding: 20px; /* Điều chỉnh để tạo khoảng cách phù hợp */
    justify-content: space-between;
}
.x-section {
    padding: 10px 20px;
    background-color: #fff;
    margin: 0px 10%;
}

.x-section-background {
    background-color: #fff;
}

.x-element {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.x-line.horizontal {
    width: 100%;
    margin: 0;

}

.line-container {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 7px;
}

.x-breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
    color: #0275d8;
}

.x-text {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4rem;
}

.x-text:hover {
    text-decoration: underline;
}

.x-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 10px;
    width: 20%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    height: max-content;
}

.sidebar h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #0275;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    font-size: 14px;
}

.main-content {
    width: 75%;
    padding: 20px;
}

.sort {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.sort label {
    margin-right: 10px;
    font-size: 12px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}
.range-slider {
    position: relative;
    width: 100%;
}

.range-slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.range-slider input[type="range"]:first-of-type {
    pointer-events: auto;
    z-index: 2;
}

.range-slider input[type="range"]:last-of-type {
    pointer-events: auto;
    z-index: 1;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

#range-values {
    margin-top: 25px;

}
.box-hover {
    width: 100%;
    padding-top: 100%; /* Chiều cao sẽ bằng với chiều rộng, tạo thành hình vuông */
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.3s;
    border-radius: 10px;
}

.box-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh phù hợp với hộp chứa */
    transition: all 1s;
}

.box-hover .img-change {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    opacity: 1;
}

.box-hover:hover .img-change {
    transform: scale(2);
    opacity: 0;
}
.product-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.product-list li {
    flex: 1 1 calc(33.333% - 10px);
    margin: 5px;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .product-list li {
        flex: 1 1 calc(50% - 10px); /* Hai cột trên màn hình nhỏ hơn */
    }
}

@media (max-width: 480px) {
    .product-list li {
        flex: 1 1 100%; /* Một cột trên màn hình rất nhỏ */
    }
}
.product-list p{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;

}
.product-list h3{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Product Overlay */
.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.box-hover:hover .product-overlay {
    opacity: 1;
}

.product-description {
    text-align: center;
}

.product-description h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-description p {
    margin-bottom: 10px;
}

.product-description button {
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.product-description button:hover {
    background-color: #e67e22;
}




