:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color:#dbdbdb;
    --primary-color: #007bff;
    --primary-color-red: #dc3545;
    --desc-color: #0000008a;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;  
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
