:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color:#dbdbdb;
    --primary-color: #007bff;
    --primary-color-red: #dc3545;
    --desc-color: #0000008a;
}
*{
    box-sizing: inherit;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;  
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);   
}
.open{
    display: flex;
}
.hidden{
    display: none;

}
.error{color: red;}
.modal__body{ 
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
.auth-form{
    border-radius: 5px ;
    background-color: var(--white-color);
    width: 500px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color-red);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: var(--border-color) 1px solid;
    border-radius: 5px;
}
.auth-form__input:focus{
    border: #888;
}
.auth-form__aside{
    margin-top: 18px;

}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px ;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}
.btn.btn--primary{
    background-color: red;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.btn--primary:hover{
    opacity: 0.91;
    background-color: #ee4d2d;
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}