
.header__top{
    display: flex;
    height: 66px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 56, 56);
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
    transition: all 0.3s ease;
}
.header__hidden{
    transform: translateY(-100%);
}
.header__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar-list{
    display: flex;
    list-style: none;
    padding-left:0 ;
}
.header__navbar-item{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    line-height:1.6;
    margin-right: 1.6rem;
    padding: 10px;
}
.header__navbar-item .shop-cart{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    line-height: 1.6;
}
.shop-cart-notice{
    position: absolute;
    top:12px;
    padding: 2px 4px;
    background-color: #999;
    color: var(--white-color);
    border-radius: 50%;
    border: 1px solid #999;
    line-height: 1.2rem;
    right: 82px;
    font-size: 1.2rem;
    top: 2px;
    display: none;
}
.header__navbar-item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fff;
    right: -10px;
    top:50%;
    transform: translateY(-50%);
}
.header__top .search-cart{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
    min-width: auto;
    height: 40px;
    padding: 0 16px 0 8px;
    border-radius: 20px;
    border: 2px solid rgb(232, 232, 232);
    transition: border-color .2s ease-in-out;
    background-color: #e3e3e3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex:1;
}
.search-history{
    position: absolute;
    top:calc(100% + 8px);
    left: 0;
    width: 100%;;
    color: var(--desc-color);
    min-width: 230px;
    min-height: 50px;
    max-height: calc(90vh - 66px);
    padding: 12px;
    font-size: 1.4rem;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(189, 189, 189) ;
    display: none;
}
.search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.search-history-item{
    height: 38px;
    padding: 0 12px;
}
.search-cart input:focus ~ .search-history{
    display: block;
}
.search-history-item:hover{
    background-color: #f3f3f3;
}
.search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.header__top .search-cart input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: #e3e3e3;
    margin: auto;
}
.search-btn{
    color: #000;
    font-size: 20px;
    padding: 5px;
}
.logo img{
    width: 70px;
    height: 70px;
}
.header__bottom{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #e7e2e2;
    padding: 0 20px;
    height: 76px;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease;
    margin-top: 66px;
}
.header__bottom-navbar{
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
}
.header__bottom-navbar-list{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.header__bottom-navbar-item a{

    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 10px;
}
.auth-form__socials{
    background-color: #e3e3e3;
    width: 100%;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__back{
    margin-right: 8px;
}
.auth-form__back:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.auth-form__controls-icon{
    font-size: 1.8rem;
}
.btn.auth-form__socials--fb{
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials--fb 
.auth-form__controls-icon{
    color: var(--white-color);
}
.btn.auth-form__socials--gg img{
    width: 18px;
    height: 18px;
}
.btn.auth-form__socials--gg{
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    font-size: 1.4rem;
    color: #939393;
    text-decoration: none;
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: -2px 16px 0;
    border-left: 1px solid #eaeaea;

}
.auth-form__help-forgot{
    color: var(--primary-color-red);
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }

}
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
    z-index: 102;
}
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);   
}
.open{
    display: flex;
}
.hidden{
    display: none;

}
.error{color: red;}
.modal__body{ 
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
.auth-form{
    border-radius: 5px ;
    background-color: var(--white-color);
    width: 500px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color-red);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: var(--border-color) 1px solid;
    border-radius: 5px;
}
.auth-form__input:focus{
    border: #888;
}
.auth-form__aside{
    margin-top: 18px;

}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px ;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}
.btn.btn--primary{
    background-color: red;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn.btn--primary:hover{
    opacity: 0.91;
    background-color: #ee4d2d;
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
